*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    height: 800px;
    width: 800px;
    margin-left: 20px;
    background-color: azure;
}
h1{
    margin: 0px 0px 20px;
}
.input{
    height: 40px;
    margin-right: 20px;
    padding-left: 20px;
    border: 2px solid black;
    font-size: 2rem;
}
.add{
    height: 40px;
    background-color: whitesmoke
}
.wrap{
    height: 70px;
    display: flex;
}
li{
    display: flex;
    list-style: none;
    font-size: 2.5rem;
    
}

.add1{
    height: 50px;
    margin-left: 30px;
    
}

.removeall{
   display: flex;
 
  
}

.bttn{
padding: 10px 20px;
background-color: aqua;
}

#error{
    display: block;
    color: red;
    padding-bottom: 30px;
    font-size: 2rem;
}