*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    height: 800px;
    width: 500px;
    margin-left: 20px;
   
}
h1{
    margin: 0px 0px 20px;
}
.input{
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    border: 2px solid black;
    font-size: 1.5rem;
}
.add{
    height: 40px;
   
}
.wrap{
    height: 70px;
    display: flex;
}
li{
    display: flex;
    list-style: none;
    font-size: 2.5rem;
    
}

.add1{
    height: 50px;
    margin-left: 30px;
    
}

.removeall{
   display: flex;
 
  
}

.bttn{
margin-top: 30px;
padding: 10px 20px;
background-color: rgb(241, 248, 248);
}

